<main>
	<div id="background">
		<section id="content">
			<div class="slider">
				<ul class="slides">
					<li>
						<img class="slides" src="img/slide1.png" alt="Slide 1">
						<div class="caption center-align">
							<h3>Best Trends</h3>
							<h5 class="section light red-text text-darken-3" style="background-color: rgba(255, 255, 255, 0.5);">A good way to make your flow more fun</h5>
						</div>
					</li>		
					<li>
						<img class="slides" src="img/slide2.jpg" alt="Slide 2">
						<div class="caption center-align">
							<h3>Best Trends</h3>
							<h5 class="section light red-text text-darken-3" style="background-color: rgba(255, 255, 255, 0.5);">A good way to make your flow more fun</h5>
						</div>
					</li>		
					<li>
						<img class="slides" src="img/slide3.jpg" alt="Slide 3">
						<div class="caption center-align">
							<h3>Best Trends</h3>
							<h5 class="section light red-text text-darken-3" style="background-color: rgba(255, 255, 255, 0.5);">A good way to make your flow more fun</h5>
						</div>
					</li>		
					<li>
						<img class="slides" src="img/slide4.jpg" alt="Slide 4">
						<div class="caption center-align">
							<h3>Best Trends</h3>
							<h5 class="section light red-text text-darken-3" style="background-color: rgba(255, 255, 255, 0.5);">A good way to make your flow more fun</h5>
						</div>
					</li>		
					<li>
						<img class="slides" src="img/slide5.jpg" alt="Slide 5">
						<div class="caption center-align">
							<h3>Best Trends</h3>
							<h5 class="section light red-text text-darken-3" style="background-color: rgba(255, 255, 255, 0.5);">A good way to make your flow more fun</h5>
						</div>
					</li>		
				</ul>
			</div>
		</section>
	</div>
</main>