<div class="container section">
    <form class="" action="/users/login" method="POST">
        <div class="input-field">
            <input type="text" id="username" name="username" class="validate">
            <label for="name">Username Here</label>
            <span class="helper-text" data-error="Please Provide your username"></span>
        </div>
        <div class="input-field">
            <input type="password" id="password" name="password" class="validate">
            <label for="name">Password</label>
            <span class="helper-text" data-error="Please Provide your username"></span>
        </div>
        <div class="input-field">
            <button type="submit">Log In</button>
        </div>
    </form>
</div>
