<main>
    <div class="container section">
        <form name="loginForm" action="/users/login" method="POST">
            <h4 class="center">User Login</h4>
            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi mdi-account-outline prefix form-icons"></i>
                    <input type="text" id="usernameLogin" name="usernameLogin" class="validate" autofocus>
                    <label for="usernameLogin">Username Here</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="mdi mdi-lock-outline prefix form-icons"></i>
                    <input type="password" id="passwordLogin" name="passwordLogin" class="validate">
                    <label for="passwordLogin">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-white" id="loginButton" type="submit">Log In</button>
                </div>
            </div>
        </form>
    </div>
</main>
{{> footer}}