* {
    margin: 0;
    padding: 0;
}

#background {
    padding: 50px;
}
#content {
    margin: 0 auto;
    background-color: teal;
    width: 80%;
    height: auto;
}

.slides {
    height: 75vh !important;
}

.indicators {
    z-index: 99;
}

.logo {
    max-width: 100px;
    height: auto;
}

