.input-field label {
    color: #888;
}

form {
    max-width: 50%;
    margin: 50px auto;
    border: 2px solid #f1f1f1;
    padding: 20px;
    border-radius: 5px;
}

#loginButton {
    width: 100%;
}

h4 {
    color: #666;
}
