body, html {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#background {
    height: 100%;
    background-image: url("/img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

nav {
    background-color: #fff;
    color: #333;
}

nav ul a {
    color: #333;
}

nav .brand-logo {
    color: #333;
}

#logo {
    max-width: 50px;
    height: auto;
}

#loginModal {
    width: 30vw;
    height: auto;
    overflow-y: hidden;
}
#signupModal {
    width: 35vw;
    max-height: 100% !important;
}

.form-icons {
    color: #c5c5c5;
}

.input-field .prefix.active {
    color: teal !important;
}
