body, html {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    background-color: #fff;
    color: #333;
}

nav ul a {
    color: #333;
}

nav .brand-logo {
    color: #333;
}

.menu-icon {
    z-index: 99 !important;
    color: #333;;
}

.sidenav-overlay {
    z-index: 99;
}

#logo {
    max-width: 50px;
    height: auto;
}

#loginModal {
    width: 30vw;
    height: auto;
    overflow-y: hidden;
}
#signupModal {
    width: 35vw;
    max-height: 100% !important;
}

.form-icons {
    color: #c5c5c5;
}

.input-field .prefix.active {
    color: teal !important;
}
